
.bi--people-circle {
  display: inline-block;
  width: 16px;
  height: 16px;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cg fill='%23000'%3E%3Cpath d='M11 6a3 3 0 1 1-6 0a3 3 0 0 1 6 0'/%3E%3Cpath fill-rule='evenodd' d='M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1'/%3E%3C/g%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

:modal {
  background-color: beige;
  border: 2px solid burlywood;
  border-radius: 5px;
}

dialog h5 {
	 margin: 10px 0;
}

.alert {
	padding: 20px;
	background-color: #f44336;
	color: white;
	margin-top: 20px;
	margin-bottom: 15px;
	border-radius: 5px;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

.alert.alert-danger {
  background-color: #f8d7da;
  border: 1px solid #f1aeb5;
  color: #58151c;
}

.alert.alert-warning {
  background-color: #fff3cd;
  border: 1px solid #ffe69c;
  color: #664d03;
}

.alert.alert-info {
  background-color: #cff4fc;
  border: 1px solid #9eeaf9;
  color: #055160;
}

.alert.alert-success  {
  background-color: #d1e7dd;
  border: 1px solid #a3cfbb;
  color: #0a3622;
}
